* {
  margin: 0;
  padding: 0;
  /* 内边距(padding)和边框(border) */
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 46px;
  font-weight: 100;
  margin: 30px auto 20px auto;
}

.level {
  text-align: center;
  margin-bottom: 10px;
}

.level button {
  color: white;
  padding: 5px 15px;
  background: #02a340;
  border: none;
  border-radius: 5px;
  max-width: 0 5px;
  cursor: pointer;
}

.level button.active {
  background: #a22393;
}

.info {
  text-align: center;
  font-weight: 200;
  margin: 10px auto;
}

table {
  background: #909090;
  margin: 0 auto;
  border-spacing: 1px;
}
table td {
  width: 24px;
  height: 24px;
  border: 2px solid;
  border-color: #fff #a1a1a1 #a1a1a1 #fff;
  background: #ccc;
  text-align: center;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

td > div {
  width: 100%;
  height: 100%;
}

td > div.mine {
  background: #ccc url("../assests/mine.png") center/cover no-repeat;
  opacity: 1;
}

td > div.flag {
  background: #ccc url("../assests/flag.png") center/cover no-repeat;
  opacity: 1;
}

td > div.error {
  background-color: rgb(216, 0, 0);
}
td > div.right {
  background-color: green;
}

/* 设置数字0的样式 */
td > div.zero {
  border-color: #cccccc; /* 边框颜色 */
  background: #e6e6e6; /* 背景颜色 */
}

/* 设置数字1的样式 */
td > div.one {
  border-color: #cccccc; /* 边框颜色 */
  background: #e6e6e6; /* 背景颜色 */
  color: #0099ff; /* 文字颜色 */
}

/* 设置数字2的样式 */
td > div.two {
  border-color: #cccccc; /* 边框颜色 */
  background: #e6e6e6; /* 背景颜色 */
  color: #00ff00; /* 文字颜色 */
}

/* 设置数字3的样式 */
td > div.three {
  border-color: #cccccc; /* 边框颜色 */
  background: #e6e6e6; /* 背景颜色 */
  color: #ff00ff; /* 文字颜色 */
}

/* 设置数字4的样式 */
td > div.four {
  border-color: #cccccc; /* 边框颜色 */
  background: #e6e6e6; /* 背景颜色 */
  color: #0000ff; /* 文字颜色 */
}

/* 设置数字5的样式 */
td > div.five {
  border-color: #cccccc; /* 边框颜色 */
  background: #e6e6e6; /* 背景颜色 */
  color: #8b0000; /* 文字颜色 */
}

/* 设置数字6的样式 */
td > div.six {
  border-color: #cccccc; /* 边框颜色 */
  background: #e6e6e6; /* 背景颜色 */
  color: #4b0082; /* 文字颜色 */
}

/* 设置数字7的样式 */
td > div.seven {
  border-color: #cccccc; /* 边框颜色 */
  background: #e6e6e6; /* 背景颜色 */
  color: #ff4500; /* 文字颜色 */
}

/* 设置数字8的样式 */
td > div.eight {
  border-color: #cccccc; /* 边框颜色 */
  background: #e6e6e6; /* 背景颜色 */
  color: #22ee0f; /* 文字颜色 */
}
